* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* width: 100%; */
  margin: -25px -10px auto -10px;
}
.apple-navbar {
  position: absolute;
  top: 50px;
  left: 15%;
  right: 15%;
  z-index: 1;
}

.apple-navbar-list-item {
  display: inline-block;
}

.apple-navbar-list {
  list-style: none;
}

.nav-item-link {
  background-color: lightcoral;
  border: 1px solid green;
  padding: 5px 30px 5px 30px;
  margin: -3px;
}

.logo {
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  position: relative;
  /* left: 50%; */
  /* margin-top: -50px; */
  background-color: yellow;
  background-image: url(../images/apple-bg.jpeg);
  background-repeat: no-repeat;
  background-position: 0 97%;
  background-size: 100%;
}

.main-title {
  position: relative;
  top: 120px;
  text-align: center;
}

.sub-title {
  position: relative;
  top: 80px;
  text-align: center;
}

.title-link {
  position: relative;
  width: 40%;
  bottom: -90px;
  left: 30%;
  text-align: center;
  background-image: url(../images/cta_your_verse_27pt.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 30px;
}

.title-link:hover {
  position: relative;
  /* top: 11%; */
  /* text-align: right; */
  background-image: url(../images/cta_your_verse_27pt.png);
  background-repeat: no-repeat;
  background-position: 50% -32px;
  height: 30px;
}

.carrousel-pics {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 202px;
  background-color: blue;
}

.apple-footer {
  position: relative;
  top: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 10px;
  font-family: "Lucida Grande";
  
}

